<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sources</title>
    <link href="/static/bootstrap.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="mt-5">Sources</h1>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for source in sources %}
                <tr>
                    <td>{{ source.id }}</td>
                    <td>{{ source.name }}</td>
                    <td>{{ source.app_type }}</td>
                    <td><a href="/logs/{{ source.id }}" class="btn btn-primary">View Logs</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>